
body {
    font-family: Arial, sans-serif;
    background-color: #d6f6fa;
    padding: 20px;
    margin: 0;
}


.container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


h2 {
    color: #333;
    margin-bottom: 20px;
}


.result-item {
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}


.result-item a {
    color: #007bff;
    text-decoration: none;
}

.result-item a:hover {
    text-decoration: underline;
}
